<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" src="{{course.img}}">
</div>

<div class="card-body">
    <h4 class="card-text"> {{course.name}}</h4>
    <p class="card-text"> {{course.description}}</p>
    <p class="card-text"><strong>Carga horária:</strong> {{course.duration}}</p>
    <p class="card-text"><strong> Investimento:</strong> {{course.price}}</p>

    <div class="btn-group pb-4">
        <button type="button" class="btn btn-sm btn-dark">Adicionar a Meus Cursos</button>
        <button type="button" class="btn btn-sm btn-outline">Saber mais</button>
    </div>
</div>