<div class="d-flex flex-column flex-md-row align-items-center">
    <div class="col-5"><img class="img-fluid" src="/assets/images/proud-teacher.jpg" alt="Retrato da professora Miss Amaral, com a legenda 'Proud teacher'"></div>
    <div class="col-6 ps-5">
        <section>
            <p>Sou uma professora de educação infantil dedicada e curiosa, naturalmente motivada para aprender e ensinar tudo aquilo que seja útil para facilitar e melhorar o trabalho do professor. Aprendi muitas coisas sozinha, pesquisando e praticando no meu próprio ritmo. Quero te ensinar o que aprendi, para que você também sinta orgulho e alegria pelo seu trabalho, todos os dias. Conte comigo para te mostrar tudo o que me faz uma professora feliz!</p>

            <p>Sou formada em Letras pela Universidade de São Paulo, tenho especializações em ensino bilíngue (Oxford University Press), ensino de inglês como língua estrangeira (Anaheim University), ensino de inglês para crianças (Norwich Institute for Language Education), disciplina positiva (Positive Discipline Association) e neuropsicologia aplicada aos transtornos do espectro autista (Child Behavior Institute of Miami). Já fui professora da Cultura Inglesa e do Colégio Renascença, em São Paulo, e atualmente sou professora do Colégio Franciscano Pio XII.</p>
        </section>
    </div>
</div>
